<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Фразовые элементы в веб-разработке</h1>
<div>
    <h2>Использование <span>фразовых элементов</span></h2>
    <h3>Примеры и их <a href="https://developer.mozilla.org/ru/docs/Web/HTML/Element/span">описание</a></h3>
    <p>Фразовые элементы в HTML позволяют добавлять различные стили и функциональность к тексту.</p>

    <img src="/images/background.jpg" alt="Изображение">

    <ol>
        <li>Пример списка 1</li>
        <li>Пример списка 2</li>
    </ol>

    <ul>
        <li>Пример маркированного списка 1</li>
        <li>Пример маркированного списка 2</li>
    </ul>

    <table>
        <tr>
            <th>Заголовок 1</th>
            <th>Заголовок 2</th>
        </tr>
        <tr>
            <td>Данные 1</td>
            <td>Данные 2</td>
        </tr>
    </table>

    <time datetime="2022-01-01">01 Января 2022</time>

    <p>Элементы sup<sup>верхний индекс</sup> и sub<sub>нижний индекс</sub> используются для верхних и нижних индексов.</p>

    <a href="mailto:info@example.com">Написать нам на почту</a>
    <a href="tel:+1234567890">Позвонить нам по телефону</a>

    <a href="#" download><img src="/images/background.jpg" alt="Скачать изображение"></a>
</div>
</body>
</html>