<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../css/main.css">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .heading {
            color: #007bff;
            font-size: 24px;
        }
        .text {
            color: #333333;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <h1 class="heading">Заголовок</h1>
    <p class="text">Текст под заголовком</p>
    <div class="block">
        <p class="text2">Текст внутри блока с наследованной рамкой</p>
    </div>
</body>
</html>